.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%; /* Nastaví, aby zabíralo celou dostupnou výšku */
  overflow: hidden; /* Skryje obsah přesahující mimo hranice */
}

.tabs-container {
  flex-shrink: 0;
  max-height: 100%; /* Přizpůsobí se rodiči */
  overflow-y: auto; /* Posouvání pouze ve vertikálním směru */
  background-color: rgba(236, 229, 229, 0.5); /* Volitelný styl pozadí */
}

.tab {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  box-sizing: border-box;
  text-align: left;
  white-space: nowrap; /* Zabrání přetečení textu */
  cursor: pointer; /* Změna kurzoru na ukazatel */
}

.content {
  flex-grow: 1; /* Zaujme zbývající prostor */
  max-height: 100%; /* Zabrání obsahu přesahovat rodiče */
  padding: 5px;
  display: flex;
  flex-direction: column; /* Zajistí, že se obsah bude rolovat vertikálně */
}

.newstabs {
  display: flex;
  flex-wrap: wrap; /* Zprávy se zarovnají na nový řádek */
  gap: 10px; /* Mezera mezi články */
  justify-content: space-evenly;
  max-height: 100%; /* Zachování výšky */
  overflow-y: auto; /* Pokud bude obsah větší než plocha, umožní posouvání */
}

.news-container {
  display: flex;
  gap: 10px;
  max-height: 100%; /* Zabrání přesahování */
  overflow-y: auto; /* Umožní posouvání pouze, když bude potřeba */
}

.news-banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertikální zarovnání obsahu */
  text-align: left;
  width: 60%;
  height: 9vh;
  margin-left: 1.5rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(233, 182, 115, 0.6);
}
.scrolling-cylinder {
  position: relative; /* Zajistí, že válce zabírá celou výšku rodiče */
  overflow: hidden; /* Skryje obsah, který přesahuje */
  display: flex;
  flex-direction: column;
}
.scrolling-content {
  position: relative;
  display: flex;
  flex-direction: column;
  animation: scroll-vertical 15s linear infinite;
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    height: auto; /* Přizpůsobení výšky pro mobilní zařízení */
  }

  .tabs-container {
    max-height: 20vh; /* Přizpůsobení výšky záložek pro mobil */
    overflow-y: auto;
  }

  .content {
    max-height: 80vh; /* Omezí výšku obsahu na 80% obrazovky */
  }

  .news-banner {
    width: 90%;
    height: auto; /* Automatická výška na menších obrazovkách */
    margin: 1rem auto; /* Vycentrování */
  }
}
@keyframes scroll-vertical {
  0% {
    transform: translateY(30%);
  }
  50% {
    transform: translateY(-100%); /* Posune obsah na polovinu výšky */
  }
  100% {
    transform: translateY(-200%); /* Posune obsah úplně mimo */
  }
}
