.text-editor-heading {
  background-color: white;
}
.text-editor-container {
  background-color: white;
  margin-left: 3%;
  width: 45vw;
  height: 100%;
}
.text-editor {
  background-color: white;
}
.positionTextEdit {
  position: center;
  width: 100%;
}
