.appWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.searchWeather {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15%;
}

.inputweather {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: -15%;
}

.containerWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 15vw;
  width:100%;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  margin-top: -10%;
 
}

.headerWeather {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top:-15%;
}

.weatherIcon img {
  width: 50px;
  height: 50px;
}

.temperature {
  font-size: 18px;
  margin-left: 10px;
}

.descriptionAndWind {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5px;
  margin-top: -15%;
}

.windSpeed,
.feelsLike {
  font-size: 14px;
  margin-top: 20%;
}

.error {
  color: red;
  font-size: 14px;
}
.descpWeather{
  display: flex;
  flex-direction: row;
  padding-right: 15px;
}
@media (max-width: 480px) {
  .inputweather {
    font-size: 14px;
    padding: 8px;
  }

  .containerWeather {
    padding: 15px;
    max-height: 28vh;
  }

  .weatherIcon img {
    width: 40px;
    height: 40px;
  }

  .temperature {
    font-size: 16px;
  }

  .descriptionAndWind {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
