.appWeather {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  max-height: 10vh;
}
.containerWeather {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 80%;
  height: 9vh;
}
.searchWeather {
  max-width: 10%;
}
.inputweather {
  width: 15vw;
}
img {
  margin-top: -50%;
  margin-left: -60%;
  width: 90%;
}
.wshow {
  display: flex;
  flex-direction: row;
}
