.styleSite {
  width: 100%;
  max-width: 150vw;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: hsla(0, 67%, 1%, 0.822);
  display: flex;
  flex-direction: column;
}

.styleSite::before {
  content: "";
  background: url("../backgroundImg/CVBackround.jpg") center center/cover
    no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.styleSite h1 {
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 255, 0.6);
  margin-left: 30%;
}

.styleSite .header {
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.styleSite .side {
  display: flex;
  justify-content: space-between;
}

.styleSite .leftBar,
.styleSite .rightBar {
  color: #add8e6;
}

.styleSite .contentBar {
  color: #87cefa;
}

.styleSite h1 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8),
    rgba(0, 0, 255, 0.8)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header {
  z-index: 1;
}

.side {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-top: 20px;
}

.leftBar {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 20%;
  margin: auto;
  border: 2px solid;
  background-color: rgba(173, 216, 230, 0.2);
  border-radius: 8px;
}

.rightBar {
  width: 14%;
  margin: auto;
  padding: 15px;
  border: 2px solid;
  background-color: rgba(173, 216, 230, 0.4);
  border-radius: 8px;
}

.contentBar {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.fotoProfile img{
  width: 100%; /* Obrázek se přizpůsobí rodiči */
  max-width: 100px; /* Maximální velikost */
  height: auto; /* Zachování poměru stran */
  border-radius: 50%; /* Pokud chceš kulatý obrázek */
  object-fit: cover; /* Lepší oříznutí */
  margin-left: 15%;
  margin-top: -10%;
  padding: -50%;
  z-index: -1;
}

@media (max-width: 768px) {

  .styleSite::before {
    height:140vh;
  }

  .side {
    flex-direction: column;
  }

  .leftBar {
    width: 90%;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    gap: 3px;
  }

  .contentBar {
    width: 100%;
    height: auto;
  }

  .rightBar {
    width: 90%;
  }
  .fotoProfile img{
    margin-left: 10%;
    margin-top: -6%;
  }
}