.app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.app::before {
  content: "";
  background: url("./backgroundImg/BcImg.jpg") center center/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.skelet {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100vh;
}

.componentsHead {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.banner0 {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 95%;
  max-height: 8vh;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.6);
}
.newsbanner {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 90%;
  height: 10vw;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.6);
}

.componentsBody {
  height: 62vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 25%;
}
.banner1Td {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}
.banner2Calender {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}
.banner3Notes {
  position: relative;
  display: flex;
  align-content: stretch;
  text-align: left;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}
.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 25%;
}
.banner4OneNote {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}
.banner5Radio {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}
.banner6MiniGame {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}
.clock {
  position: relative;
  margin: -2rem 1rem auto;
  color: #000000;
  text-shadow: 15px 8px 2px #00000038;
  z-index: 1;
  font-family: fantasy;
  font-size: 2rem;
}
#Alarm {
  position: relative;
  margin-right: 50%;
  color: #000000;
  text-shadow: 15px 8px 2px #00000038;
  z-index: 1;
  font-family: fantasy;
  font-size: 2rem;
}
.backgroundSite {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.backgroundSite::before {
  content: "";
  background: url("./backgroundImg/sing.jpg") center center/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.errorSing {
  margin-left: 50%;
  margin-top: 25%;
}
#UserId{
  z-index: 1;
  position:absolute;
  margin-left: 80%;
}